HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

doc/Starbucks Data Sync 统一数据库表结构_劵_V1.9.xlsx
doc/Starbucks Data Sync 统一数据库表结构_卡_V2.9.xlsx
doc/template-card.xls
doc/template.sql
doc/template-coupon.xls

